아아아아아 <br>
<!-- 전필-->
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    전공필수 <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
<% @jeonpil.each do |j| %>
    <li><a href="/bizrice/board/<%= j.id %>"><%= j.title %></a></li>
<% end %>
  </ul>
</div>


<!-- 전선-->
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    전공선택 <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
<% @jeonsun.each do |j| %>
    <li><a href="/bizrice/board/<%= j.id %>"><%= j.title %></a></li>
<% end %>
  </ul>
</div>

<!-- 전선 인정-->
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    전공선택 인정 <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
<% @jeonsun2.each do |j| %>
    <li><a href="/bizrice/board/<%= j.id %>"><%= j.title %></a></li>
<% end %>
  </ul>
</div>

<!-- 교필-->
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    교양필수 <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
<% @gyopil.each do |j| %>
    <li><a href="/bizrice/board/<%= j.id %>"><%= j.title %></a></li>
<% end %>
  </ul>
</div>

<br>
